<nav class="navbar nav_my_css_dark rounded">
    <div class="container-fluid">
        <a class="navbar-brand link-dark link-for-js" href="/profile/">{{ request.user.username }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link link-dark link-for-js" href="/profile/">Мой профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark link-for-js" href="/">Новости</a>
                    </li>
                    <li class="right">
                        <a class="nav-link right link-dark d-flex link-for-js" href="/account/logout/">Выйти</a>
                    </li>
                    {% else %}
                    <li class="nav-item flex-column">
                        <a class="nav-link link-dark right link-for-js" href="/account/login/">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark right link-for-js" href="/account/register/">Зарегестрироваться</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="form-check form-switch">
    <label for="flexSwitchCheckChecked">Изменение темы</label>
    <input class="form-check-input right" type="checkbox" role="switch" id="flexSwitchCheckChecked">
</div>