<nav class="navbar navbar-expand-lg nav_my_css_dark rounded">
    <div class="container-fluid">
        <a class="navbar-brand link-dark link-for-js" href="/profile/">{{ request.user.username }}</a>
                    {% if request.user.is_authenticated %}
                    <div class="navbar-nav me-auto">
                        <a class="d-flex justify-content-start nav-link link-dark link-for-js" href="/">Новости</a>
                        <a class="d-flex justify-content-start nav-link link-dark link-for-js" href="/posting/">Поделиться новостью</a>
                    </div>
                <div class="navbar-nav align-items-center">
                        <div class="form-check form-switch" style="display: inline-block">
                        <label for="flexSwitchCheckChecked">Тема</label>
                        <input class="form-check-input right" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        </div>
                        <a class="nav-link right link-dark link-for-js" style="display: inline-block" href="/account/logout/">Выйти</a>
                </div>
                    {% else %}
                <div class="navbar-nav">
                        <a class="nav-link link-dark right link-for-js" href="/account/login/">Войти</a>
                        <a class="nav-link link-dark right link-for-js" href="/account/register/">Зарегестрироваться</a>
                </div>
                    {% endif %}
    </div>
</nav>

