{% extends "posts_sort_bar.html" %}


{% block main %}
{% load static %}
<div class="row-cols-1">
    {% for post_item in post_items %}
    <div class="card mt-2 text-bg-light">
        <div class="card-header">
            <h5><a href="/profile/{{post_item.author_id}}">{{ post_item.author }}</a></h5>
            <span>{{ post_item.created }}</span>
        </div>
        <a class="card-body" href="{{post_item.id}}">
            <h2 class="card-title top2 main_text1">{{ post_item.title }}</h2>
            <p class="card-text mt-2 main_text2" style="font-size: 25px">{{ post_item.desc }}</p>
            {% if post_item.file_name is not None %}
            <img class="card-img-top mt-1 rounded figure-img img-fluid"
                 src="{% static 'images/'|add:post_item.file_name %}" alt="Картинка пользователя {{ user }}"/>
            {% endif %}
        </a>
        <span> Комментарии: </span>
        {% for comment in post_item.comment_items %}
        <div class="card mt-2 text-bg-light comment">
            <div class="card-body">
                <a href="/profile/{{comment.author_id}}">{{ comment.author }}</a>
                <br>
                <span class="card-text secondary_text">{{ comment.text }}</span>
                <p class="right1 secondary_text"> {{ comment.created }} </p>
            </div>
        </div>
        {% endfor %}
        <form name="myForm" class="mt-2" action="/post_comment/?post_id={{ post_item.id }}" onsubmit="validateForm()"
              method="post">
            {% csrf_token %}
            <label for="textInput">{{ comment_form.text.label }}</label>
            {{ comment_form.text }}
            <button class="btn btn_card btn-dark mt-2" id="butt" type="submit">Оставить комментарий</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<hr>
<div class="site-section">
<div class="container">
<div class="row">
<div class="col-md pr-md-5 mb-4 mb-md-0">
<h3>Об авторе</h3>
<p class="mb-4"></p>
<ul class="list-unstyled quick-info mb-4">
<li>ФИО: Абдуллаев Оскар Айдынович</li>
<li>Почта: oskarabdullaev07@gmail.com</li>
</ul>
</div>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'scripts/index.js' %}"></script>
{% endblock %}