{% extends "base/base.html" %}

{% block main %}
{% load static %}
<button class="btn mt-2 btn_site btn-dark rounded" id="button" onclick="document.location='/'">Вернуться обратно</button>
<div class="card mt-2 text-bg-light">
    <div class="card-header">
        <h4>Автор: {{ post.author }}</h4>
        <p>{{ post.created }}</p>
    </div>
    <div class="card-body">
        {% if post.file_name is not None %}
        <img class="card-img-top mt-1 rounded figure-img img-fluid" src="{% static 'images/'|add:post.file_name %}"
             alt="Картинка пользователя {{ user }}"/>
        {% endif %}
        <h2 class="card-title top2 main_text">{{ post.title }}</h2>
        <p class="card-text mt-2 main_text">{{ post.desc }}</p>
    </div>
    <span>  Комментарии: </span>
    {% for comment in comments %}
    <div class="card mt-2 text-bg-light comment">
        <div class="card-body">
            <span class="card-title"><a href="/profile/{{comment.author_id}}">{{ comment.author }}</a></span>
            <br>
            <span class="card-text">{{ comment.text }}</span>
            <p class="right1 fs-6"> {{ comment.created }} </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<hr>
<div class="site-section">
<div class="container">
<div class="row">
<div class="col-md pr-md-5 mb-4 mb-md-0">
<h3>Об авторе</h3>
<p class="mb-4"></p>
<ul class="list-unstyled quick-info mb-4">
<li>ФИО: Абдуллаев Оскар Айдынович</li>
<li>Почта: oskarabdullaev07@gmail.com</li>
</ul>
</div>
</div>
</div>
</div>
{% endblock %}