{% extends "base/base.html" %}

{% block main %}
{% load static %}
<div class="card mt-2 text-bg-light">
    <div class="card-header">
        <h4>Автор: {{ post.author }}</h4>
        <p>{{ post.created }}</p>
    </div>
    <div class="card-body">
        {% if post.file_name is not None %}
        <img class="card-img-top mt-1 rounded figure-img img-fluid" src="{% static 'images/'|add:post.file_name %}"
             alt="Картинка пользователя {{ user }}"/>
        {% endif %}
        <h2 class="card-title top2 main_text">{{ post.title }}</h2>
        <p class="card-text mt-2 main_text">{{ post.desc }}</p>
    </div>
    <span>  Комментарии: </span>
    {% for comment in comments %}
    <div class="card mt-2 text-bg-light comment">
        <div class="card-body">
            <span class="card-title"><a href="/profile/{{comment.author_id}}">{{ comment.author }}</a></span>
            <br>
            <span class="card-text">{{ comment.text }}</span>
            <p class="right1 fs-6"> {{ comment.created }} </p>
        </div>
    </div>
    {% endfor %}
</div>
<a href="/"> <-- Вернуться обратно</a>
{% endblock %}